@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.centerize {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: "Bungee Shade", sans-serif;
}

.text {
    font-family: "Noto Sans", sans-serif;
}

.support {
    font-family: "Alfa Slab One", serif;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
}